## Predicting the BlueBerry Yeild

### Import libraries

In [18]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

### Analyse and Explore Dataset

In [7]:
# Import the dataset
df = pd.read_csv("archive/train.csv")
df.head(10)

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
0,0,25.0,0.50,0.25,0.75,0.50,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.425011,0.417545,32.460887,4476.81146
1,1,25.0,0.50,0.25,0.50,0.50,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.444908,0.422051,33.858317,5548.12201
2,2,12.5,0.25,0.25,0.63,0.63,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.552927,0.470853,38.341781,6869.77760
3,3,12.5,0.25,0.25,0.63,0.50,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.565976,0.478137,39.467561,6880.77590
4,4,25.0,0.50,0.25,0.63,0.63,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.579677,0.494165,40.484512,7479.93417
5,5,25.0,0.50,0.25,0.63,0.75,94.6,57.2,79.0,68.2,33.0,55.9,34.0,0.56,0.565239,0.484350,40.555019,7267.28344
6,6,12.5,0.25,0.38,0.50,0.63,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.498730,0.442193,35.517539,5739.68029
7,7,12.5,0.25,0.25,0.75,0.75,86.0,52.0,71.9,62.0,30.0,50.8,1.0,0.10,0.619888,0.529502,42.191013,7920.06175
8,8,25.0,0.50,0.38,0.38,0.75,94.6,57.2,79.0,68.2,33.0,55.9,16.0,0.26,0.532557,0.465367,36.166044,6465.37205
9,9,25.0,0.50,0.25,0.63,0.63,94.6,57.2,79.0,68.2,33.0,55.9,34.0,0.56,0.340063,0.381768,28.763565,3519.43131

In [8]:
df.shape

(15289, 18)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15289 entries, 0 to 15288
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    15289 non-null  int64
 1   clonesize             15289 non-null  float64
 2   honeybee              15289 non-null  float64
 3   bumbles               15289 non-null  float64
 4   andrena               15289 non-null  float64
 5   osmia                 15289 non-null  float64
 6   MaxOfUpperTRange      15289 non-null  float64
 7   MinOfUpperTRange      15289 non-null  float64
 8   AverageOfUpperTRange  15289 non-null  float64
 9   MaxOfLowerTRange      15289 non-null  float64
 10  MinOfLowerTRange      15289 non-null  float64
 11  AverageOfLowerTRange  15289 non-null  float64
 12  RainingDays           15289 non-null  float64
 13  AverageRainingDays    15289 non-null  float64
 14  fruitset              15289 non-null  float64
 15  fruitmass             15289 non-null  float64
 16  seeds                 15289 non-null  float64
 17  yield                 15289 non-null  float64
dtypes: float64(17), int64(1)
memory usage: 2.1 MB

In [11]:
#checking null value 
df.isna().sum()

id                      0
clonesize               0
honeybee                0
bumbles                 0
andrena                 0
osmia                   0
MaxOfUpperTRange        0
MinOfUpperTRange        0
AverageOfUpperTRange    0
MaxOfLowerTRange        0
MinOfLowerTRange        0
AverageOfLowerTRange    0
RainingDays             0
AverageRainingDays      0
fruitset                0
fruitmass               0
seeds                   0
yield                   0
dtype: int64

In [12]:
# look describe data set
df.describe().round(2)

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
count,15289.0,15289.0,15289.00,15289.00,15289.00,15289.00,15289.00,15289.00,15289.00,15289.00,15289.00,15289.00,15289.00,15289.00,15289.00,15289.00,15289.00,15289.00
mean,7644.0,19.7,0.39,0.29,0.49,0.59,82.17,49.67,68.66,59.23,28.66,48.57,18.66,0.32,0.50,0.45,36.16,6025.19
std,4413.7,6.6,0.36,0.06,0.15,0.14,9.15,5.55,7.64,6.61,3.20,5.39,11.66,0.16,0.07,0.04,4.03,1337.06
min,0.0,10.0,0.00,0.00,0.00,0.00,69.70,39.00,58.20,50.20,24.30,41.20,1.00,0.06,0.19,0.31,22.08,1945.53
25%,3822.0,12.5,0.25,0.25,0.38,0.50,77.40,46.80,64.70,55.80,27.00,45.80,16.00,0.26,0.46,0.42,33.23,5128.16
50%,7644.0,25.0,0.50,0.25,0.50,0.63,86.00,52.00,71.90,62.00,30.00,50.80,16.00,0.26,0.51,0.45,36.04,6117.48
75%,11466.0,25.0,0.50,0.38,0.63,0.75,86.00,52.00,71.90,62.00,30.00,50.80,24.00,0.39,0.56,0.47,39.16,7019.69
max,15288.0,40.0,18.43,0.58,0.75,0.75,94.60,57.20,79.00,68.20,33.00,55.90,34.00,0.56,0.65,0.54,46.59,8969.40

In [13]:
pd.pivot_table(df, values='yield', index='clonesize', aggfunc=[min, max, np.mean])

                  min         max         mean
                yield       yield        yield
clonesize
10.0       3826.17226  6772.93347  5423.544958
12.5       1945.53061  8969.40184  6569.209692
20.0       2384.72892  8465.88563  5349.923696
25.0       1945.53061  8969.40184  5646.255505
37.5       1945.53061  8247.52116  4192.967774
40.0       3948.98691  4057.55521  4003.271060

In [14]:
pd.pivot_table(df, values='yield', index='honeybee', aggfunc=[min, max, np.mean])

                 min         max         mean
               yield       yield        yield
honeybee
0.000     3895.62684  8465.88563  5652.123680
0.250     1945.53061  8969.40184  6408.230121
0.500     1945.53061  8969.40184  5694.985309
0.537     2384.72892  8134.72655  5531.225498
0.750     1945.53061  8247.52116  4457.087572
6.640     3937.91539  7778.34916  6265.434863
18.430    2825.00374  5741.21030  4482.638426

In [15]:
pd.pivot_table(df, values='yield', index='bumbles', aggfunc=[min, max, np.mean])

                min         max         mean
              yield       yield        yield
bumbles
0.000    2825.00374  7778.34916  5477.101232
0.042    4480.07000  8465.88563  6395.163040
0.058    4079.91244  7778.34916  5929.130800
0.065    4201.43596  6909.43000  5555.432980
0.117    2946.92602  8134.72655  5398.364016
0.250    1945.53061  8969.40184  5889.982103
0.260    6870.34212  6870.34212  6870.342120
0.293    4356.94587  5544.62172  4950.783795
0.380    1945.53061  8969.40184  6368.280413
0.560    5154.97591  5154.97591  5154.975910
0.585    3948.98691  3998.05416  3973.520535

In [17]:
pd.pivot_table(df, values='yield', index='andrena', aggfunc=[min, max, np.mean])

                min         max         mean
              yield       yield        yield
andrena
0.000    2825.00374  7778.34916  5149.419085
0.101    8465.88563  8465.88563  8465.885630
0.147    6239.53349  7016.89385  6628.213670
0.229    3937.91539  7122.49056  6074.211005
0.234    4356.94587  4356.94587  4356.945870
0.235    5544.62172  5544.62172  5544.621720
0.240    6060.64149  6060.64149  6060.641490
0.250    1945.53061  8969.40184  5418.068813
0.380    1945.53061  8969.40184  6159.861083
0.409    2384.72892  8134.72655  5344.061184
0.490    5498.58395  8711.20896  7104.896455
0.500    1945.53061  8969.40184  6085.530480
0.560    3387.78516  3387.78516  3387.785160
0.630    1945.53061  8969.40184  6005.161483
0.707    4201.43596  4201.43596  4201.435960
0.750    1945.53061  8969.40184  6144.297267

### Building the Model

In [22]:
X = df.drop(columns="yield")
y = df["yield"]

print("X: ", X.shape)
print("y: ", y.shape)

X:  (15289, 17)
y:  (15289,)

In [24]:
#Defined object from LinearRegression 
LR = LinearRegression()

In [25]:
LR.fit(X, y)

LinearRegression()

In [28]:
# Get the test set
df_test = pd.read_csv("archive/test.csv")
df_test.head(10)

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds
0,15289,25.0,0.25,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.399367,0.408088,31.394569
1,15290,12.5,0.25,0.25,0.75,0.63,94.6,57.2,79.0,68.2,33.0,55.9,1.0,0.10,0.488048,0.442866,36.846956
2,15291,12.5,0.25,0.25,0.63,0.63,86.0,52.0,71.9,62.0,30.0,50.8,16.0,0.26,0.583379,0.487057,40.037644
3,15292,25.0,0.50,0.38,0.38,0.63,86.0,52.0,71.9,62.0,30.0,50.8,16.0,0.26,0.433014,0.422847,33.116091
4,15293,37.5,0.75,0.25,0.25,0.25,94.6,57.2,79.0,68.2,33.0,55.9,24.0,0.39,0.360996,0.388860,29.558019
5,15294,12.5,0.25,0.25,0.75,0.75,94.6,57.2,79.0,68.2,33.0,55.9,34.0,0.56,0.451911,0.435621,32.814561
6,15295,12.5,0.25,0.25,0.75,0.63,77.4,46.8,64.7,55.8,27.0,45.8,16.0,0.26,0.572611,0.482119,40.161668
7,15296,12.5,0.25,0.38,0.50,0.50,69.7,42.1,58.2,50.2,24.3,41.2,1.0,0.10,0.520637,0.433668,35.314005
8,15297,25.0,0.50,0.38,0.50,0.75,86.0,52.0,71.9,62.0,30.0,50.8,1.0,0.10,0.645641,0.520004,44.278583
9,15298,25.0,0.25,0.25,0.25,0.25,77.4,46.8,64.7,55.8,27.0,45.8,34.0,0.56,0.398218,0.408088,31.378241

In [29]:
LR.predict(df_test)

array([4298.58071527, 6102.78333537, 7245.7921918 , ..., 6923.17718237,
       4437.82843629, 7313.59612751])

In [39]:
# creating and saving submission file
data = {
    "id" : df_test["id"],
    "yield": LR.predict(df_test)
}
output = pd.DataFrame(data)

output.to_csv('output.csv', index=False)